/* all */
.navbar--style {
	margin-bottom: 20px;
}

/* services */
.services {
	background-color: grey;
	text-align: center;
	padding: 50px 0px;
}

/* banner */
.banner {
	height: 100vh;
}
.banner__logo {
	margin: 0 auto;
}

/* services */
.services__logo {
	margin: 0 auto;
	max-height: 225px;
}

/* small */
@media screen and (max-width: 767px) {
	.banner__logo {
		max-height: 420px;
		align-items: center !important;
	}
}
/* medium */
@media screen and (max-width: 991px) {
	/* banner */
	.banner__logo {
		max-height: 475px;
		align-items: center !important;
	}
}
@media screen and (max-width: 1199px) {
	/* banner */
	.banner__logo {
		max-height: 250px;
		position: absolute;
	}
}
/* extra large */
@media screen and (min-width: 1200px) {
	/* banner */
	.banner__logo {
		max-height: 250px;
		position: absolute;
	}
}
